.boxHeaderCalendar {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
    justify-content: space-between;
}

.headerCalendar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.textHeaderCalendar {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.iconNextMonth, .iconPrevMonth {
    border: 1px solid gray;
    border-radius: 0.2rem;
    color: black;
    background-color: rgba(236, 234, 234, 0.5);
}