.rootPage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.btnActionCalendar {
    width: auto;
    min-width: 6rem !important;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}