.calculatorPage {
    padding: 0;
    margin: 0;
}

.btnActionCalculator {
    width: auto;
    min-width: 6rem !important;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

.calculatorFrame {
    width: auto;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
}

.calculatorTextField {
    width: 20rem;
    background-color: #f5f5f5;
    font-weight: 500;
}

.calculatorRange {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
    color: gray;
    font-weight: 600;
    font-size: 1rem;
}

.calculatorKeyboard {
    margin-top: 0.25rem;
    background: rgba(230, 228, 228, 0.7);
    padding: 0.5rem;
    border-radius: 0.5rem;
    grid-template-rows: repeat(12, 1fr);
}

.gridContainerAction, .gridContainerNumber {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
}

.gridContainerAction .clearButton {
    grid-column: span 8;
}

.gridContainerAction .deleteButton {
    grid-column: span 4;
}

.gridContainerNumber {
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}