.calculatorPage {
    padding: 0;
    margin: 0;
}

.dialogTitle {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.btnActionCalculator {
    width: auto;
    min-width: 6rem !important;
    text-align: center;
    text-transform: capitalize !important;
}

.calculatorFrame {
    width: auto;
    border: 1px solid gray;
    background: rgba(236, 234, 234, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
}

.calculatorInputValue {
    width: auto;
    padding: 1rem 1rem;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    border-radius: 0.5rem;
    border: rgba(240, 236, 236, 0.9);
    background: rgba(236, 234, 234, 0.9);
    color: rgb(37, 37, 37);
    letter-spacing: 1.25px;
    line-height: 20px;
}

.minValueErr, .maxValueErr {
    font-size: 14px;
    color: red;
}

.minValue, .maxValue {
    font-size: 14px;
    color: gray;
}

.calculatorRange {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: gray;
    font-weight: 600;
    font-size: 1rem;
}

.calculatorKeyboard {
    margin-top: 0.25rem;
    background: rgba(173, 173, 173, 0.4);
    padding: 0.5rem;
    border-radius: 0.5rem;
    grid-template-rows: repeat(12, 1fr);
}

.gridContainerAction, .gridContainerNumber {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
}

.gridContainerAction .clearButton {
    grid-column: span 8;
}

.gridContainerAction .deleteButton {
    grid-column: span 4;
}

.gridContainerNumber {
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}